<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Stage</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Rubik:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/dist/mg-plus.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 

  <div class="fill mg-container">
    <div class="fill mg-row mg-x--center">
        <div class="mg-col mg-x--center mg-x--middle">
            <h1>404 Page Not Found</h1>
        </div>
    <div class="mg-col mg-x3"></div>
  </div>

</body>
</html>
