html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

input[type=text], input[type=password] {
    text-align: center;
    color: #efedde;
}

input[type=text]:focus, input[type=password]:focus {
    border-color: #ce5c5c;
}

input[type=submit].button--outline {
    color: #efedde;
    border: 0.2rem solid #efedde;
}

input[type=submit].button--outline:hover {
    transition: opacity .5s;
    opacity: .5;
}

body {
    background-color: #2d2c2b;
    background-image: url("/assets/img/loginBackground.jpg");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik';
    color: #efedde;
}

p, label, input, textarea {
    font-family: 'Rubik', sans-serif;
    color: #efedde;
}

textarea {
    resize: vertical;
    height: 30rem;
}

#header {
    padding-top: 30%;
}

#canvas-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#account-nav li {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#account-nav li a:hover {
    background-color: #000000;
}

#account-nav h2 {
    font-size: 3.5rem;
}

#premium-indicator p{
    font-size: 1.5rem;
    color: #ce5c5c;
}

#account-options {
    margin-bottom: 20%;
}

#padding {
    padding-top: 2rem;
}

#change-password {
    margin-top: 30%;
}

::placeholder {
    color: #efedde;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #efedde;
}

::-ms-input-placeholder {
    color: #efedde;
}

:root {
    --mg-color-primary: #ce5c5c;
}

.mg-nav>ul>li a {
    font-family: 'Rubik', sans-serif;
    color: #efedde;
}

.mg-nav>ul>li a:hover {
    transition: opacity .5s;
    opacity: .7;
    background-color: inherit;
}

.fill {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    padding: 0;
    border: 0;
    margin: 0;
}

.fill-height {
    height: 100%;
}

.fill-width {
    width: 70%;
}

.center-text {
    text-align: center;
}

.small-text {
    font-size: 1.1rem;
}

.hidden {
    display: none;
}

.imgButton {
    height: 100%;
    width: 100%;
}

.post-box {
    background-color: #00000070;
    border: 0.2rem solid #ce5c5c;
    border-radius: 1.5rem;
    padding: 2rem;
    margin: 2rem;
}

.ui-box {
    background-color: #00000070;
    border: 0.2rem solid rgb(26, 25, 25);
    border-radius: .3rem;
    padding: 4rem;
    margin: 4rem;
}

.post-title {
    margin-bottom: 0;
}

.post-username {
    margin-bottom: 3rem;
    color: #ce5c5c;
    font-size: 1.5rem;
}

.button.button--link:hover {
    transition: opacity .2s;
    opacity: .6;
}